html, body { overflow-x: hidden; /* Prevent scroll on narrow devices */ }
body { padding-top: 72px; color: #282A2C; }
main { margin-bottom: 5rem; }
a, a:hover { text-decoration: none; color: #fff; }

/* Login */
.bg-login-image { background:url("../img/IMG_7618.jpg"); background-position: center; background-size: cover; background-position-x: left; }
/* Scroll to top */
.scroll-to-top { position: fixed; right: 1rem; bottom: 1rem; display: none; width: 2.75rem; height: 2.75rem; text-align: center; color: #fff; background: rgba(90, 92, 105, 0.5); line-height: 46px; }
.scroll-to-top:focus, .scroll-to-top:hover { color: white; }
.scroll-to-top:hover { background: #5a5c69; }
.scroll-to-top i { font-weight: 800; }

.main-header {
    background: url(../img/dia-lines-grey.svg) top center repeat;
    background-color: #0b0b0b;
    background-size: 7px 7px;
}

.nav-link {
	font-size: 1.1rem;
}

.nav-link-no-hover {
	pointer-events: none;
}

.footer {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    background-color: #f5f5f5;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.bg-red-fade { background: linear-gradient(to right, #e0081d 0%, #940412 100%) }

.bg-blue-fade, .bg-blue-fade:hover, .bg-blue-fade:active { background: linear-gradient(to right, #35DCCC 0%, #049486 100%) !important; border-color: #35DCCC !important; }
.bg-blue-fade:focus { box-shadow: 0 0 0 .2rem rgba(53,220,204,.5) !important; }

.bg-blue-fade.active { cursor:default; }

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 30rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("/img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#f5f5f5;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.profile-card{
    margin-top:20px;
    background-color:#282A2C;
    border-bottom-width:4px;
}
.profile-card .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
}
.profile-card .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
    background-color: #fff;
}
.profile-card h5{
    color:#fff;
    font-weight:600;
}
.profile-card p{
	color:#fff;
    font-size:14px;
    font-weight:300;
}
.profile-card:hover{
    border-bottom-color:#E0081D
}

.btn-bar {
	margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 0!important;
    float: right;
    color: #fff;
}

.btn-bar .btn {
	vertical-align:inherit;
}

.btn-bar .btn.btn-primary, .btn-bar .btn.btn-success {
    margin-right: 10px;
    cursor: pointer;
}

.disabled {
	cursor: default;
    opacity: .65;
}

.alert-icon {
	margin-top: -3px;
}

.new-item {
	margin-right: 20px;
}

.new-item a {
	color: #fff;
    font-weight: 500;
    line-height: 1.2;
    font-size: 0.9rem;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  margin-top:3px;
  padding-bottom: 5px;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 3px;
  
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
}

.row-striped {
    padding: 15px 0;
    color:#282A2C;
    border-left: 4px #000000 solid;
}

.row-striped:hover {
    background: linear-gradient(to right, #e0081d 0%, #940412 100%);
}

.nav-tabs a {
	color:#282A2C;
}

.drop-link {
	color: rgba(255,255,255,0.5)!important;
}

.drop-link:hover {
	color: rgba(255,255,255,.75)!important;
}

.drop-link.active {
	color: #fff!important;
}

.language-menu {
	max-width: 8rem;
}

.language-menu a {
	cursor:pointer;
	display:flex;
	align-items:center;
}

button .bg-red-fade:hover { background: linear-gradient(to right, #940412 0%, #940412 100%); }

.page-link, .link-dark {
	cursor:pointer;
	color:#e0081d!important;
}
.page-link:hover, .link-dark:hover {
	color:#940412!important;
}

.table td, .table th {
	vertical-align:middle!important;
}